
.card-component {
  background-color: aqua;
  width: 50%;
  position: relative;
}

.table-component {
  border: .5rem solid pink;
}

.table-component {
  width: 20%;
}

.dark {
  background-color: black;
  opacity: 80%;
  color: white;
}

.yellow {
  color: black;
  background-color: yellow;
}



